.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.black {
  background-color: black;
}

.circle {
  border: 1px black solid;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 8px;
}